.footer {
    display: flex;
    flex-direction: row;
    color:darkslategrey;
    background-color: gainsboro;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    margin-top: 100px;
}
