.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    margin-top: 100%; 
    background-color: gainsboro;
    padding: 25px;
    justify-content: center;
}

.footer .column-middle{
    flex-grow: 1;
    justify-content: center;
}